{% extends 'layout.html' %}
{% block title %}
    Terms of Service - SurpriSeer
{% endblock %} 

{% block content %}
<div class="mainpageHeader">
    <h1>Terms of Service</h1>
    <p>Welcome to SurpriSeer! By using this website, you agree to the following terms and conditions. Please read them carefully.</p>
    <p>This agreement outlines the terms and conditions for using SurpriSeer ("we", "our", or "us"). The website is owned and operated by an individual (the "Owner", "we", "our", or "us") who remains anonymous. By accessing and using this website, you agree to comply with and be bound by these terms. If you do not agree, do not use the website.</p>
</div>

<div class="textBlock">
    <h2>Registration and Access</h2>
    <p>To access most features of SurpriSeer, you must register by signing in with your Google account. Users who are not registered may only view the homepage and informational pages (such as Privacy Policy, Terms of Service, and About Us).</p>
</div>

<div class="textBlock">
    <h2>Use of the Website</h2>
    <p>SurpriSeer allows users to create gift wishlists (boards), add other users to their wishlists, book gifts for others from wishlists.</p>
    <p>Fraudulent activity, using the website for unintended purposes, or any attempt to harm the website, its owner, or users is strictly prohibited. Users are solely responsible for all content they post and all actions they take on the website, including any actions that violate applicable laws. The site owner is not responsible for any activity conducted by users.</p>
</div>

<div class="textBlock">
    <h2>User Responsibilities</h2>
    <p>As a user of SurpriSeer, you may create and manage gift wishlists, book gifts for others in a responsible and respectful manner, follow the site's policies, including those that do not create a disruption of the site, the owner or other users, or violate this agreement or the Privacy Policy.</p>
</div>

<div class="textBlock">
    <h2>Data Collection and Usage</h2>
    <p>During registration, we collect your Google account information, which includes your name, email address. We do also collect your registration date and last login time. Your data is used to identify you, and in some cases, your email address will be used for communication (e.g., support requests or important notifications about changes to the Privacy Policy). In case of violating these Terms of Service, your account may be deleted. The site owner reserves the right to modify or remove any content on the site, including user-generated content.</p>
</div>

<div class="textBlock">
    <h2>Limitation of Liability</h2>
    <p>The Owner does not take responsibility for any errors on the website, the security of your data, or the availability of the website. By using this site, you agree to fully release the Owner from any liability related to these issues or any actions of third parties. The Owner does not take responsibility for any user-generated content, including but not limited to, unlawful activities or violations of applicable laws. Users are solely responsible for their actions on the website and any content they post, including but not limited to violations of privacy laws or other applicable regulations. The site owner is not obligated to actively monitor compliance with these policies but reserves the right to take action if complaints are received or violations are detected, including account deletion or other appropriate measures.</p>
</div>

<div class="textBlock">
    <h2>Agreement Duration and Amendments</h2>
    <p>This agreement takes effect once you register on the website. By registering, you acknowledge that you have read and agreed to these Terms of Service and the Privacy Policy. The Owner reserves the right to modify these terms at any time. By continuing to use the website after the changes are made, you are agreeing to the revised Terms of Service. It is your responsibility to regularly review these terms for any updates.</p>
</div>

<div class="textBlock">
    <h2>Account Deletion</h2>
    <p>If you violate any of the terms outlined in this agreement, your account will be deleted, and your access to the website will be terminated.</p>
</div>

<div class="textBlock">
    <h2>Contact Information</h2>
    <p>If you have any questions about these Terms of Service, you can contact us through the contact form available in the website footer.</p>
</div>

{% endblock %}