.wishlistsContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.wishCard {
    min-width: 30%;
    height: 135px;
    /* background: linear-gradient(45deg, #8338EC, #3A86FF); */
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.wishCard:hover {
    cursor: pointer;
    /* background: linear-gradient(270deg, #8338EC, #3A86FF); */
    text-decoration: none;
}


.wishCardRow{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wishCardHeader {
    color: #fff;
    font-weight: bold;
}

.wishCardAuthor{
    color: #fff;
    text-decoration: underline;
    font-size: small;
}

.wishListActionButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.wishListForm {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    gap: 20px;
    color: #fff;
}

.tabs {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;

}

.tabBtn {
    padding: 5px 25px 5px 25px;
    border: none;
    outline: none; 
    border-radius: 8px;
    color: #000;   
}

.activeTab {
    background-color: #8338EC;
    color: #fff;
}

.tabBtn:hover {
    cursor: pointer;
    background-color: #C5C5C5;
}

.activeTab:hover{
    background-color: #6230A9;
    color: #fff;
}

.hidden {
    display: none;
}

.formSide {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 15px;
    width: 45%;
    height: 100%;
}

.giftListForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 80%;
    width: 100%;
    overflow-y: auto;
}

.giftInput {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.colorPicker {
    display: flex;
    margin-top: auto;
    gap: 10px;
}

.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.colorCircle:hover {
    cursor:pointer;
}

#headerInput {
    border: none;
    outline: none;
    background: none;
    text-decoration: underline;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    max-width: 100%;
}

#friendInput {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    border-bottom: 1px solid #fff;
}

.colorRadio {
    width: 100%;
    height: 100%;
    display: none;
}

.inviteContainer {
    margin-top: auto;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.32);
    width: 100%;
    height: 35px;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

.copyButton {
    background: none;
    border: none;
    outline: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyButton:hover {
    cursor: pointer;
}

.copyButton img {
    width: 1rem;
    height: 1rem;
}

.wishListFriendForm {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    gap: 20px;
    color: #fff;
}

.subHeader {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1rem;
}


@media (max-width: 790px) {
    .wishListFriendForm {
        width: 100%;
        height: auto;
    }
    .wishListForm{
        width: 100%;
        flex-direction: column;
        height: auto;
    }

    .formSide {
        width: 100%;
    }

    .wishCardRow {
        flex-direction: column;
    }
    .inviteContainer {
        margin: 0;
    }

    .giftListForm {
        height: auto;
    }
}

@media (min-width: 790px) and (max-width: 1200px){

    .wishListFriendForm {
        width: 50%;
    }
    .wishListForm{
        width: 100%;
    }
}

@media (min-width: 1300px) {
    .pageContent {
        width: 70%;
        max-width: 70%;
    }       
}

@media (min-width: 1600px) {
    .wishListForm {
        width: 50%;
        max-width: 50%;
    }       
}