@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
}

body {
    background-color: #F5F4F3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.pageContent{
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

header {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 0 0 0;
    width: 100%;
}

.content {
    display: flex;
    gap: 5px;
}

.headerLinkContainer {
    display: flex;
    gap: 50px;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    text-decoration: underline;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}

h1 {
    font-size: 1.3rem;
    font-weight: bold;
}

.separator {
    width: 100%;
    height: 10px;
    border-radius: 4px;
    background: linear-gradient(90deg, #FB5607, #FF006E, #8338EC, #3A86FF);
}

footer{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.footerLinks{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footerLink{
    font-size: 0.9rem;
}


.mainContentHeader {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.actionButton {
    padding: 15px 60px;
    border: none;
    border-radius: 14px;
    background-color: #8338EC;
    color: #fff;
    font-weight: bold;
}

.actionButton:hover{
    cursor: pointer;
    background-color: #6230A9;
}








.gradient1 {
    background: linear-gradient(45deg, #3A86FF, #8338EC);
}

.gradient2 {
    background: linear-gradient(45deg, #FF006E, #FB5607);
}

.gradient3 {
    background: linear-gradient(45deg, #00FF87, #60EFFF);
}

.gradient4 {
    background: linear-gradient(45deg, #FF1B6B, #45CAFF);
}

.gradient5 {
    background: linear-gradient(45deg, #FF930F, #FFF95B);
}

.gradient6 {
    background: linear-gradient(45deg, #51C26F, #F2E901);
}

.gradient1_interactive:hover {
    background: linear-gradient(270deg, #3A86FF, #8338EC);
}

.gradient2_interactive:hover {
    background: linear-gradient(270deg, #FF006E, #FB5607);
}

.gradient3_interactive:hover {
    background: linear-gradient(270deg, #00FF87, #60EFFF);
}

.gradient4_interactive:hover {
    background: linear-gradient(270deg, #FF1B6B, #45CAFF);
}

.gradient5_interactive:hover {
    background: linear-gradient(270deg, #FF930F, #FFF95B);
}

.gradient6_interactive:hover {
    background: linear-gradient(270deg, #51C26F, #F2E901);
}



.sbuBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
}

.oneLineForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#roundedTextInput {
    height: 35px;
    width: 50%;
    border: 1px solid #000;
    border-radius: 12px;
    padding: 0 10px;
    outline: none;
}



.friendBox {
    display: flex;
}

.friendActionContainer {
    margin: 0 0 0 auto;
    padding-right: 15px;
}

.giftContainer {
    display: flex;
}

.giftActionContainer{
    margin: 0 0 0 auto;
    padding-right: 15px;
}

@media (max-width: 790px) {
    header {
        height: auto;
        flex-direction: column;
        padding-top: 15px;
        gap: 5px;
        justify-content: flex-start;
        align-items: flex-start;
    }
     
    main {
        width: 100%;
    }
    .headerLinkContainer {
        justify-content: space-between;
    }
    .pageContent {
        width: 100%;
        max-width: 100%;
        padding: 0 25px;
    }   
    .wishListFriendForm {
        width: 100%;
    }
    .wishListForm{
        width: 100%;
    }

    .landingImg {
        width: 100%;
        height: auto;
    }

    footer {
        gap: 15px;
    }

    .footerLinks {
        flex-direction: column;
        gap: 5px;
    }

    .wishCardRow {
        flex-direction: column;
    }

    .actionButton {
        padding: 15px 25px;
    }


}

@media (min-width: 790px) and (max-width: 1200px){
    .pageContent {
        width: 100%;
        max-width: 100%;
        padding: 0 25px;
    }   
    .wishListFriendForm {
        width: 100%;
    }
    .wishListForm{
        width: 100%;
    }
}

