{% extends 'layout.html' %}
{% block title %}
    Dashboard - SurpriSeer
{% endblock %} 

{% block content %}
<div class="mainpageHeadr">
    <h1>My wishlists</h1>
</div>
<div class="pageContent">
    <div class="wishlistsContainer">
        <div class="wishCardRow">
            <div class="wishCard">
                <p class="wishCardHeader">Christmas</p>
                <p class="wishCardAuthor">User 1</p>
            </div>
            <div class="wishCard"></div>
            <div class="wishCard"></div>
        </div>
        <div class="wishCardRow">
            <div class="wishCard"></div>
            <div class="wishCard"></div>
            <div class="wishCard"></div>
        </div>
    </div>
    <div class="wishListActionButtonContainer">
        <a href="" class="buttonLink"><button class="actionButton">Create or join wishlist</button></a>
    </div>
</div>
{% endblock %}