{% extends 'layout.html' %}
{% block title %}
    Dashboard - SurpriSeer
{% endblock %} 

{% block content %}
<div class="mainpageHeadr">
    <h1>My wishlists</h1>
</div>
<div class="pageContent">
    <div class="wishlistsContainer">
        {% for row, element in user_wishLists %}
        <div class="wishCardRow">
            <a href="" class="wishCard">
                <p class="wishCardHeader">{{element.name}}</p>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="wishListActionButtonContainer">
        <a href="{% url 'newWishList' %}" class="buttonLink"><button class="actionButton">Create or join wishlist</button></a>
    </div>
</div>
{% endblock %}