{% extends 'layout.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}
    SurpriSeer
{% endblock %} 
{% block content %}
    <div class="mainpageHeader">
        <h1>Perfect gifts, every time</h1>
        <p class="mainpageHeaderDesctiption">Build your wishlist, invite friends, and let them choose — all while keeping it a surprise. 🎉</p>
    </div>        
    <img src="{% static 'img/mainpage_img.svg' %}" alt="">
    <a href="" class="buttonLink"><button class="actionButton">Get started!</button></a>
{% endblock %}