{% extends 'layout.html' %}
{% load static %}
{% load socialaccount %}
{% block title %}
    SurpriSeer
{% endblock %} 
{% block content %}
    <div class="mainContentHeader">
        <h1>Perfect gifts, every time</h1>
        <p>Build your wishlist, invite friends, and let them choose — all while keeping it a surprise. 🎉</p>
    </div>        
    <img src="{% static 'img/mainpage_img.svg' %}" alt="" class="landingImg">
    <a href="{% url 'dashboard' %}"><button class="actionButton">Get started!</button></a>
{% endblock %}