{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SurpriSeer</title>
    <link rel="icon" href="{% static 'img/surpriseer_logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="separator"></div>
        <div class="pageContent">
            <div class="footerLinks">
                <a href="" class="footerLink">Privacy Policy</a>
                <a href="" class="footerLink">Terms of Service</a>
                <a href="" class="footerLink">About Us</a>
                <a href="" class="footerLink">Contact Us</a>
            </div>
        </div>
        <div class="separator"></div>
    </footer>
</body>
</html>