{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}    
    </title>
    <link rel="icon" href="{% static 'img/surpriseer_logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div class="pageContent">
        <header>
            <div class="content">
                <p class="logoName">SurpriSeer</p>
                <img src="{% static 'img/surpriseer_logo.svg' %}" alt="logotype" class="logo">
            </div>
            <div class="content headerLinkContainer">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'dashboard' %}" class="headerLink">My wishlists</a>
                {% else %}
                    <a href="{% provider_login_url 'google' %}" class="headerLink">Login</a>
                {% endif %}
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'admin:index' %}" class="headerLink" target="_blank">Admin</a>
                {% endif %}
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        <div class="separator"></div>
        <div class="pageContent">
            <div class="footerLinks">
                <a href="{% url 'privacy' %}" class="footerLink">Privacy Policy</a>
                <a href="{% url 'tos' %}" class="footerLink">Terms of Service</a>
                <a href="{% url 'about' %}" class="footerLink">About Us</a>
                <a href="" class="footerLink">Contact Us</a>
            </div>
        </div>
        <div class="separator"></div>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>